<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
</head>
<body>
<h2>Available js properties</h2>

<div id="container"> Hello, world! </div>

<script type="text/javascript">
    let container = document.getElementById("container");
    container.innerHTML = `
    <br>navigator.userAgent = ${navigator.userAgent}
    <br>navigator.language = ${navigator.language}
    <br>screen.width = ${screen.width}
    <br>screen.availWidth = ${screen.availWidth}
    <br>screen.height = ${screen.height}
    <br>screen.availHeight = ${screen.availHeight}
    <br>navigator.platform = ${navigator.platform}
    <br>navigator.plugins.length = ${navigator.plugins.length}
    <br>navigator.plugins[0] = ${navigator.plugins[0]?.name}
    <br>navigator.plugins[1] = ${navigator.plugins[1]?.name}
    <br>navigator.plugins[2] = ${navigator.plugins[2]?.name}
    <br>navigator.plugins[3] = ${navigator.plugins[3]?.name}
    <br>navigator.plugins[4] = ${navigator.plugins[4]?.name}
    <br>navigator.cookieEnabled = ${navigator.cookieEnabled}
    <br>window.history.length = ${window.history.length}
    <br>screen.colorDepth = ${screen.colorDepth}
    <br>screen.pixelDepth = ${screen.pixelDepth}
    <br>Intl.DateTimeFormat().resolvedOptions().timeZone = ${Intl.DateTimeFormat().resolvedOptions().timeZone}
    <br>navigator.doNotTrack = ${navigator.doNotTrack}
    <br>window.devicePixelRatio = ${window.devicePixelRatio}
    <br>Navigator.hardwareConcurrency = ${navigator.hardwareConcurrency}
    <br>window.localStorage = ${window.localStorage}
    <br>window.sessionStorage = ${window.sessionStorage}
    <br>navigator.webdriver = ${navigator.webdriver}
    <br>window.indexedDB = ${window.indexedDB}
    <br>navigator.permissions.query = ${navigator.permissions.query}
    <br>new AudioContext().destination.channelCount = ${new AudioContext().destination.channelCount}
    `;

</script>
</body>
</html>